@charset "utf-8";
ul, li {
    list-style: none;
}

ul.sub { overflow: hidden; position: absolute; left: 0; top: 50px; background: #1C2327; display: none; z-index: 9 }
ul.sub li { height: 30px; line-height: 30px; font-size: 14px; }
ul.sub li:last-child { padding-bottom: 10px }
ul.sub li a { color: #FFF }
ul.sub li a:hover { color: #00c1de }
li:hover ul.sub { display: block }

/*箭头*/
.menu:before { position: absolute; content: ""; top: 22px; right: 5px; background: url(../image/jt.png) no-repeat; width: 8px; height: 8px; -ms-transition: all .5s ease; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.menu:hover:before { transform: rotate(180deg) }/*旋转*/
/*menu+*/
.menu span { display: none; width: 50px; height: 50px; background: #12b7de; opacity: 0.5; position: absolute; top: 0; right: 0; border-left: #49ccea 1px solid; }

