{% extends 'extend.html' %}
{% load common_tag %}
{% block body %}

    <div id="myCarousel" class="block flex carousel slide">
        <ol class="carousel-indicators">
            {% for i in tops %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>

    <!--    每轮播一次forloop.counter0就从0开始计算-->
        <div class="carousel-inner" style="width:75%;">
            {% for i in tops %}
            <div style="background: url('upload/{{i.image|safe}}');background-size: cover" class="item {% if forloop.counter0 == 0 %} active{% endif %}">
                <a href="/article/{{ i.sid }}" target="_blank" style="height: 300px;width: 100%;display: block"></a>
            </div>
            {% endfor %}
        </div>


        <div class="hd" >
            <ul>
                {% for i in tops %}
                <li {% if forloop.counter0 == 0 %}class="active"{% endif %}>

                    <a href="/article/{{ i.sid }}" target="_blank" >
                        <img src="upload/{{i.image|safe}}" width="52" height="52">
                        <span>{{i.title}}</span>{{ forloop.counter0 }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>

        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>

        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">
            <span aria-hidden="true" data-slide="next" class="glyphicon glyphicon-chevron-right"></span>
        </a>

    </div>



    <div class="block">
        <div class="block-title">
            <span>最新发布</span>
            <a href="{% url 'category' %}" class="float float-right">查看更多</a>
        </div>
        <div class="flex">
        {% for i in articles %}

            <div class="aritcle-item aritcle-item1 clearfix">
            {% if i.image %}
            <div class="col-md-12">
                <div class="cover cover1">
                    <img src="/upload{{ i.image|url }}"/>
                </div>
            </div>
            {% endif %}
            {% if i.image %}
                <div class="col-md-8 col-md-81">
            {% else %}
                <div class="col-md-12">
            {% endif %}
        <div class="title-panel">
            <a href="/article/{{ i.sid }}" class="title"> {{ i.title }}</a>
        </div>

        <div class="info">
                            <span class="date"><span
                                    class="glyphicon glyphicon-calendar"></span>{{ i.createDate }}</span>
            <span>
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span>发表在 <a
                                        href="{% url 'category_alias' i.category__alias %}">{{ i.category__name }}</a> </span>
                            </span>
            <span class="hits">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span>{{ i.hits }}</span>
                        </span>
        </div>
        </div>

        </div>
        {% endfor %}
        </div>
        <div class="show-more">
            <a href="{% url 'category' %}" class="btn btn-success">查看更多数据</a>
        </div>
        </div>
        <script src="" type="text/javascript"></script>
{% endblock %}